 ------------Record Control--------------------------------------------------
 |  [Setup Preferences:preferences] [Start Current:start] [Stop:stop] |
 ---------------------------------------------------------------------