 ------------Recording Control----------------------------------------------------------------------------
 |  [Start Recording:start] [Stop:stop] [Show recorded:reveal_save_to_dir] [Options:preferences]   |
 ---------------------------------------------------------------------------------------------------------
